<h2>New book</h2>
<%= form_with model: @books do |f| %>
  <%= f.text_field :title %>
  <label for = "book_title">Title</label>
  <%= f.text_area :body %>
  <label for = "book_opinion">Opinion</label>
  <%= f.submit "Create" %>
<% end %>